<section id="player" data-channel="player" data-channel-id="<%= @channel.id %>" data-sync-user-id="<%= @channel.sync_user_id %>">
  <%= render 'player', channel: @channel %>
</section>

<div id="playerQ">
<%= render 'qs/qs', channel: @channel %>
</div>

<div id="playerChannel">
<div id="channelContent">
  
  <span class="playerUrl">http://lacuna.club</span><br>
  <span class="playerCh"><i class="material-icons">change_history</i> <%= @channel.title %></span>
  <span class="playerCh"><i class="material-icons">wifi</i>lacuna <br><i class="material-icons">vpn_key</i>karaopy!</span>
  <span id="isSyncUser" class="<%= 'hidden' unless @channel.sync_user_id == @current_user.id %>">
    <i class="material-icons">star_border</i>
  </span>
</div>  
</div>

<%= render 'comments/player_comments', channel: @channel %>
