<section id="player" data-channel="player" data-channel-id="<%= @channel.id %>">
  <%= render 'player', channel: @channel %>
</section>




<%= render 'qs/qs', channel: @channel %>


<div id="channelContent"><%= @channel.content %></div>

<%= render 'comments/player_comments', channel: @channel %>
