<script>
$(function() {
  $('#playPlayer').click(function(){
    App.qs.playPlayer();
  });
  $('#refreshPlayer').click(function(){
    App.qs.reloadPlayer();
  });
  $('#pausePlayer').click(function(){
    App.qs.pausePlayer();
  });
  $('.modal-trigger').leanModal();
});
</script>


<div class="row center">
 
  <div class="col s12 m8">
    <%= render 'qs/search', channel: @channel, current_user: @current_user %>
  </div>

  <div class="col s12 m4">
    <%= render 'qs/qs', channel: @channel %>
    <div class="row">
    <div id="showChannel">
    <div id="channelContent" class="col s12 m4">
      <div>
         HELLO <%= @current_user.name %>
         (<%= link_to 'logout', session_path, method: :delete %>)
      </div>

      <%= @channel.title %><br>
      <%= @channel.content %><br>


      <!-- Modal Trigger -->
        <button data-target="modal1" class="btn modal-trigger black"><i class="material-icons">live_tv</i></button>


     

    </div>

  </div>
  </div>
  </div>
</div>



<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content center">
     <a class="btn-floating waves-effect waves-light black" id="playPlayer"><i class="material-icons">play_circle_outline</i></a>
      <a class="btn-floating waves-effect waves-light black" id="pausePlayer"><i class="material-icons">pause_circle_outline</i></a>
      <a class="btn-floating waves-effect waves-light black" id="refreshPlayer"><i class="material-icons">refresh</i></a>
  </div>
 
</div>
<%= render 'comments/comments', channel: @channel %>
