<script>
$(function() {
  $('#playPlayer').click(function(){
    App.qs.playPlayer();
  });
  $('#refreshPlayer').click(function(){
    App.qs.reloadPlayer();
  });
  $('#pausePlayer').click(function(){
    App.qs.pausePlayer();
  });
});
</script>

<div class="right-align channel-user">
   <span class="hide-on-med-and-down">HELLO <%= @current_user.name %></span>
   (<%= link_to 'logout', session_path, method: :delete %>)
</div>

<%= render 'qs/qs', channel: @channel %>

<%= render 'qs/search', channel: @channel, current_user: @current_user %>

<%= render 'comments/comments', channel: @channel %>

<div id="channelContent">
  <%= link_to 'player', channel_player_path(@channel) %><br>
  <%= @channel.title %><br>
  <%= @channel.content %>
  <br>
  <a class="btn-floating waves-effect waves-light black" id="playPlayer"><i class="material-icons">play_circle_outline</i></a>
  <a class="btn-floating waves-effect waves-light black" id="pausePlayer"><i class="material-icons">pause_circle_outline</i></a>
  <a class="btn-floating waves-effect waves-light black" id="refreshPlayer"><i class="material-icons">refresh</i></a>

</div>
