<div class="right-align channel-user">
   <span class="hide-on-med-and-down">HELLO <%= @current_user.name %></span>
   (<%= link_to 'logout', session_path, method: :delete %>)
</div>

<%= render 'qs/qs', channel: @channel %>

<%= render 'qs/search', channel: @channel, current_user: @current_user %>

<%= render 'comments/comments', channel: @channel %>

<div id="channelContent">
  <%= link_to 'player', channel_player_path(@channel) %><br>
  <%= @channel.title %><br>
  <%= @channel.content %>
</div>
