<script>
$(function() {
  $('#searchPreloader').addClass('hidden');
  $('#q_q').blur();
  $('#clearSearch').click(function(){
    setTimeout(function(){
      $('#search').html('');
      $('#q_q').val('');
    }, 500);
  });
});
</script>

<% unless search.nil? %>
  <div class="center">
    <a class="waves-effect waves-orange grey btn" id="clearSearch">clear search</a>
  </div>
  <ul class="collection">
  <% search.each do |s| %>
    <li class="collection-item avatar">
      <!-- Modal Trigger -->
      <%= link_to preview_path(s[:id]), remote: true, class: 'circle btn-floating waves-effect waves-light black z-depth-2' do %>
        <img src="<%= s[:thumbnail_url] %>" border="0">
      <% end -%>

      <span class="title">
        <b><%= Time.at(s[:duration].to_i).utc.strftime("%M:%S") rescue '' %></b>
        <%= s[:title] %>
      </span>
      <p>
        <%= s[:description] %> <br>
        
      </p>

      <span id="<%= "q-#{s[:id]}" %>">
        <%= link_to channel_add_video_to_q_path(channel, yt_id: s[:id], yt_title: s[:title]), { method: :post, remote: true, class: 'waves-effect waves-light btn-floating btn-large secondary-content orange z-depth-2'} do %>
          <i class="material-icons">add</i>
        <% end -%>
      </span>
    </li>
  <% end -%>
  </ul>
<% end -%>

<div id="modalContainer"></div>
