<script>
$(function() {
  $('#new_q').submit(function(){
    $('#search').html('');
    $('#searchPreloader').removeClass('hidden');
  });
});
</script>
<div class="leftCol">
  <%= form_for [ channel, Q.new ], remote: true, class: 'col s12' do |form| %>
    <div class="row">
      <div class="input-field col s9 m10">
        <%= form.text_field :q, class: 'validate' %>
        <label for="q" class="text-grey">Search or use ID (YwQ1P8NnlWo)</label>
      </div>
      <div class="input-field col s2 m2">
        <button class="btn waves-effect waves-light grey" type="submit" name="commit">
          <i class="material-icons">search</i>
        </button>
      </div>
    </div>
  <% end %>
</div>

<section id="search" data-channel="search" data-user-id="<%= current_user.id %>">
  <%= render 'qs/result', search: nil, channel: channel %>
</section>
<%= render 'qs/preloader' %>
